.anonymous-template-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  .header {
    padding-bottom: 1rem;

    .navigation {
      text-decoration: none;
      color: cornflowerblue;
    }
  }

  .heading {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
  }

  .content {
    width: 100%;
  }
}